<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Premium</title>
   </head>
   <body>
      <div class="row-md-4 d-flex align-items-center justify-content-center">
         <ul class="nav justify-content-end">
            <li class="nav-item">
               <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/realtimeProducts">Form</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/chat">Chat</a>
            </li>
            <li class="nav-item">
               <a class="nav-linK" href="/products">Products</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li>
               <button id="cartButton">Cart</button>
            </li>
         </ul>
      </div>
      <div class="container">
         <h1 class="color1">Premium</h1>
         <div class="container">
            <form action="/api/users/premium/{{userId}}" method="post" enctype="multipart/form-data">
               <h2>Subir archivos</h2>
               <label for="profileImage">Profile image</label>
               <input type="file" name="profiles" id="profileImage" accept="image/*">
               <br>
               <label for="productImage">Product image</label>
               <input type="file" name="products" id="productImage" accept="image/*">
               <br>
               <label for="document">Profile image</label>
               <input type="file" name="document" id="document" accept=".pdf, .doc, .docx">
               <br>
               <button type="submit">Become premium</button>
            </form>
         </div>
      </div>
   </body>
</html>