<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../src/public/css/style.css">
   <title>Reset password</title>
</head>
<body>
   <div class="row-md-4 d-flex align-items-center justify-content-center">
      <ul class="nav justify-content-end">
         <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/realtimeProducts">Form</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/chat">Chat</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/upload/{{userId}}">Premium</a>
         </li>
         <li>
            <button id="cartButton">Cart</button>
         </li>
      </ul>
   </div>
   <div class="container">
      <div class="formulario">
         <form action="/api/sessions/reset-password/{{token}}" method="POST">
            <input type="hidden" name="token" value="{{token}}">
            <label for="password">New password:</label>
            <input type="password" id="password" name="password" required>
            <label for="confirmPassword">Confirm new password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            <button type="submit">Restore password</button>
         </form>
      </div>
   </div>
</body>
</html>